<!DOCTYPE html> 
<html>
   <head>
    <meta charset="utf-8">
    <title>
        Some Projects
    </title>
  </head>
  <body>
    {{> header}}
    <a href="https://github.com/Calsowah">MyGitHub</a>
    {{> footer}}
  </body>
</html>